@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared Styles */
.display-flex {
  display: flex;
  align-items: center;
}
/* dark-1 */
.text-black{
    color: #131313;
}
/* dark-2 */
.text-grey {
  color: #424242;
}
/* dark-3 */
.text-light-grey {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.primary-text{
    font-size: 1rem;
    line-height: 1.625rem;
}
.primary-btn{
    background-color: #FF900E;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}
/* Nav bar */
.nav-bar {
  justify-content: space-between;
}
.nav-items {
  gap: 30px;
}
.logo{
    font-size: 2.9rem;
    font-weight: bold;
}
header {
  padding: 50px 0;
}
/* Hero Banner */
.banner,.nav-bar{
    width: calc(100vw - 240px);
    margin: 0 auto;
}
.banner{
    margin-top: 6rem;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.hero-image{
    width: 100%;
    margin-top: 3.125rem;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}



/* responsive media query */
@media screen and (max-width:576px) {
  .nav-bar,.nav-items{
    flex-direction: column;
  }
  .logo,.nav-items{
    margin-bottom: 15px;
  }
  .banner,.nav-bar{
    width: calc(100vw - 6px);
    margin: 0 auto;
}
}